<% if @mobiles.present? %>
  <% @mobiles.each do |mobile| %>
  <div class="col-md-3 product-left">
    <div class="product-main simpleCart_shelfItem">
      <%= link_to image_tag("p-1.jpg", class: "img-responsive zoom-img"),
          mobile, class: "mask" %>
      <div class="product-bottom">
        <h3><%= mobile.name %></h3>
        <p>Explore Now</p>
        <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price"><%= number_with_delimiter mobile.price, delimiter: "," %>đ</span></h4>
      </div>
      <div class="srch">
        <span>-50%</span>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
