<li data-thumb="<%= asset_path slide.mobile_image.url %>">
  <div class="thumb-image">
    <%= image_tag slide.mobile_image.url, class: "img-responsive",
    "data-imagezoom": "true" %>
  </div>
</li>
