# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 6cb35995eaa570e82ce804a073d334eb5f18e573451c194c3d62207906793e12d3b8399cd2a98c19accd9bac4705f04de65b2a09ae749134a6a9d4144b493ae0

test:
  secret_key_base: 9282ce4239bac2d0c4ed4204b20248af4c32f489033f242882f6415df179222c647e17448e1cacc42ce8edb6c20fb599c4511538293ce277cf903196b6cca46f

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
