@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'color';
@import 'social-share-button';

body {
  textarea {
    resize: none;
  }
}

.header-bottom {
  background-color: $blue;
  margin-bottom: 3%;
}

.header-logo img {
  width: 15%;
  height: 15%;
  display: inline-block;
  margin-right: 5%;
}

.header-right {
  margin-top: 2%;
}

.search-maker {
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
}

.search-bar input[type="text"] {
  background-color: $white;
  border: solid;
  border-width: thin;
}

#mobile_search_list {
  font-size: 2em;
  a {
    text-decoration: none;
  }
}

#mobile_search_list a {
  display: inline !important;
  align-items: baseline;
}

ul {
  list-style: none;
}

.wrap-suggestion li {
  display: block;
  background: $white;
  overflow: hidden;
  list-style: none;
  border-bottom: 1px dotted $gray;
}

.wrap-suggestion li a {
  display: block;
  overflow: hidden;
  padding: 6px;
  font-size: 12px;
}

.wrap-suggestion img {
  width: 50px;
  height: 50px;
}

.popover {
  max-width: 100%;
}

.shopping-cart {
  position: fixed;
  bottom: 20px;
  right: 80px;
  z-index: 9999;
  border: 1px solid black;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  font-size: 10px;
}

#position-cart {
  position: fixed;
  bottom: 20px;
  right: 80px;
}

.information {
   padding-top: 30px;
}

#cart_color_id {
  margin-left: 0px !important;
  height: 44px !important;
}

#cart_quantity {
  width: 150px;  
}

.item_add:hover {
  cursor: pointer;
  text-decoration: none;
}

.product-main img {
  width: 120px;
  height: 180px;
}

.rslides img {
  width: 1140px;
  height: 427.5px;
}

.comment-section {
  position: relative;
  border: 2px solid $blue-light;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
}

.delete_comment {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.delete_comment:hover {
  cursor: pointer;
}

.replies {
  margin-left: 50px;
}

.comment-session {
  margin-top: 50px;
}

.comment-info {
  padding: 5px 10px;
}

.user-info {
  padding: 5px 10px;
}

.pagination a {
  display: block;
  text-decoration: none;
  width: 825px;
  text-align: center;
  border: 1px solid $blue-light;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $gray;
  color: black;
}

a.replies {
  cursor: pointer;
}

.older-price {
  text-decoration: line-through;
}

.sale {
  color: $red;
}

.sale-label {
  font-size: 0.8em;
}

#message-sale-off-product {
  font-size: 2em;
}

#new_shop {
  padding: 20px;
}

.show-check-mobile {
  padding: 0 20px 20px;
  ul {
    padding-top: 5px;
  }
}

.header-mobile-info {
  border-bottom: 1px solid $gray;
  padding-bottom: 20px;
}

.specifications {
  padding-top: 35px;
}

.price {
  font-size: 2em;
}

.sale-percent {
  font-size: 2em;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
}
.star-on {
  padding-top: 5px !important;
}
