@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'color';

body {
  textarea {
    resize: none;
  }
}

.header-bottom {
  background-color: $blue;
  margin-bottom: 3%;
}

.header-logo img {
  width: 15%;
  height: 15%;
  display: inline-block;
  margin-right: 5%;
}

.header-right {
  margin-top: 2%;
}

.search-maker {
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
}

.search-bar input[type="text"] {
  background-color: $white;
  border: solid;
  border-width: thin;
}

#mobile_search_list {
  font-size: 2em;
  a {
    text-decoration: none;
  }
}

#mobile_search_list a {
  display: inline !important;
  align-items: baseline;
}

ul {
  list-style: none;
}

.wrap-suggestion li {
    display: block;
    background: $white;
    overflow: hidden;
    list-style: none;
    border-bottom: 1px dotted $gray;
}

.wrap-suggestion li a {
    display: block;
    overflow: hidden;
    padding: 6px;
    font-size: 12px;
}

.wrap-suggestion img {
  width: 50px;
  height: 50px;
}

.popover {
  max-width: 100%;
}

.shopping-cart {
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 9999;
  border: 1px solid black;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  font-size: 10px;
}

.information {
   padding-top: 30px;
 }
#show-color {
  margin-left: 0px !important;
  height: 44px !important;
}
.item_add:hover {
  cursor: pointer;
  text-decoration: none;
} 
