<div id="mobile-search-list" class="hide">
  <ul class="wrap-suggestion">
    <% (0..4).each do |num| %>
      <li id="search-<%= num %>">
        <a href="#">
          <img src="#">
          <span><b></b></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
