<a href="#"><%= t("views.header.profile") %></a>
<div class="mepanel">
  <div class="row">
    <div class="col1 me-one">
      <p><%= link_to t("views.header.edit"), edit_user_registration_path %></p>
    </div>
    <div class="col1 me-one">
      <p><%= link_to t("views.header.history"), orders_history_path %></p>
    </div>
  </div>
</div>
