<a href="#">Ram</a>
<div class="mepanel">
  <div class="row">
    <div class="col1 me-one">
      <p><%= link_to "2 GB", mobiles_path(search: "2GB") %></p>
    </div>
    <div class="col1 me-one">
      <p><%= link_to "3 GB", mobiles_path(search: "3GB") %></p>
    </div>
    <div class="col1 me-one">
      <p><%= link_to "4 GB", mobiles_path(search: "4GB") %></p>
    </div>
  </div>
</div>
